@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222 84% 5%;

    --card: 0 0% 100%;
    --card-foreground: 222 84% 5%;

    --primary: 24 95% 53%;
    --primary-foreground: 0 0% 100%;

    --secondary: 210 40% 96%;
    --secondary-foreground: 222 84% 5%;

    --muted: 210 40% 96%;
    --muted-foreground: 215 16% 47%;

    --border: 214 32% 91%;
    --input: 214 32% 91%;
  }
}

html, body, #root {
  height: 100%;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
}